<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- https://favicon.io -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">

    <!-- Loading font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- Loading icons -->
    <script src="https://kit.fontawesome.com/8b71a44c69.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Local CSS -->
    <link href="/static/main.css" rel="stylesheet">

    <!-- Title -->
    {% if title %}
      <title>Bookshelf - {{ title }}</title>
    {% else %}
      <title>Bookshelf</title>
    {% endif %}
  </head>
  <body class="bg-light min-vh-100">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for("home") }}">Bookshelf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if request.endpoint != "search" %}
          <form action="{{ url_for("search") }}" method="GET" class="d-flex my-2 my-md-1">
            <input name="q" class="form-control me-2 bg-dark text-light" type="search" placeholder="Search Book or Author" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
          {% endif %}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for("discover") }}">Discover</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for("search") }}">Search</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  My Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ url_for("mylibrary") }}">My Library</a></li>
                  <li><a class="dropdown-item" href="{{ url_for("settings") }}">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for("logout") }}">Log Out</a></li>
                </ul>
              </li>
              <a class="nav-link" aria-current="page" href="{{ url_for("settings") }}"><img src="/static/profile_pics/{{ current_user.image }}" alt="Profile picture" class="nav-item" id="navbar-pic"></a>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for("discover") }}">Discover</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for("search") }}">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for("login") }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for("register") }}">Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Here's where any content goes -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="d-flex bg-dark text-center text-white mb-0">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Copyright -->
            <div class="text-center">
                © 2021 Mahmoud Sameh
            </div>
        </div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
