{% extends "layout.html" %}

{% block content %}
<div class="d-flex my-auto mx-auto main-wrapper">
<div class="form-card mx-auto p-4 align-self-center bg-light">
    <form class="novalidate" method="post" action="">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.username.label(class="form-label") }}

        {% if form.username.errors %}
          {{ form.username(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control") }}
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.email.label(class="form-label") }}

        {% if form.email.errors %}
          {{ form.email(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="form-control") }}
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label") }}

        {% if form.password.errors %}
          {{ form.password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control") }}
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.confirmation.label(class="form-label") }}

        {% if form.confirmation.errors %}
          {{ form.confirmation(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.confirmation.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirmation(class="form-control") }}
        {% endif %}
      </div>
      {{ form.submit(class="btn btn-primary") }}
      <hr/>
      <p class="text-center mt-3 mb-0" style="font-size: 0.9rem;">Already a member? <a href="{{ url_for("login") }}">Login</a></p>
    </form>
</div>
</div>
{% endblock content %}